*~
*.o
quack
ERR1438847_1.fastq.gz
ERR1438847_2.fastq.gz
test.pair.adapter.png
test.pair.adapter.svg
test.pair.noadapt.png
test.pair.noadapt.svg
test.sing.adapter.png
test.sing.adapter.svg
test.sing.noadapt.png
test.sing.noadapt.svg
